@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');

:root {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 900;
  margin: 0;
  text-align: center;
}

h2 {
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

p {
  margin: 0
}

a {
  color: inherit;
  text-decoration: none;
}

.flex {
  gap: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.marginTop {
  margin-top: 30px;
}

.bigText {
  font-size: 1.6em;
  text-align: center;

}

.center {
  text-align: center;
}

.rotable {
  transform: rotate(0deg);
  transition: transform 0.5s;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.5s;
}

@media screen and (max-width: 768px) {
  .flex {
    flex-direction: column;
  }

  .bigText {
    font-size: 1.3em;

  }

}